@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  background-color: #151515;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  transition: all;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

.active-style {
  background-color: red;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 



@layer components {
  .important {
    opacity: 100 !important;
  }
}